<div class="form-login">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h2 class="form-login-heading">Log in Estudiante</h2>
  <div class="login-wrap">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control"%>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control"%>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me, class: "checkbox"%>
        <%= f.label :recordar %>
      </div>
    <% end -%>
    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-theme btn-block"%>
    </div>
    <div class="registration">
        <br><%= link_to "Olvidaste tu contraseña?", new_password_path(resource_name) %><br />
    </div>
      <div class="login-social-link centered">
      <p>or you can sign in via your social network</p>
          <button class="btn btn-facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
          <button class="btn btn-twitter" type="submit"><i class="fa fa-twitter"></i> Twitter</button>
      </div>
      <div class="registration">
          No tienes cuenta aun?<br/>
          <%= link_to "Crear Cuenta", new_registration_path(resource_name) %><br />
      </div>
      <div class="registration">
      </br>
          Entrar como empresa?<br/>
          <%= link_to "log in empresa", new_company_session_path %><br />
      </div>

  </div>
</div>
<% end %>
