<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-lg-11 titulo">
    <h4>
      <i class="fa fa-angle-right"></i>Publicaciones</h4>
  </div>
</div>
<% @publications.each do |publication| %>
<div class="row mt margin-minus">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="form-panel">
      <div class="row">
        <div class="col-lg-7 col-lg-offset-1">
          <h4><i class="fa fa-angle-right"></i><%= publication.titulo %></h4>
          <p class="margin-minus-minus">
            <span class="label label-primary"><%= publication.type.nombre %></span>
            <span class="label label-info"><%= publication.area.nombre %></span>
            <%= publication.limite.strftime("%d-%m-%Y") %>
          </p>
          <p>
            <%= publication.problema %>
          </p>
          <%= link_to 'Ver Publicacion', publication, class: "btn btn-success btn-xs" %>
        </div>
        <div class="col-lg-3">
          <h4><%= publication.company.razon %></h4>
          <%= image_tag(current_entity.avatar.url, width: 100)%>
        </div>
        <!--
  <%= link_to 'Edit', edit_publication_path(publication) %>
  <%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %> -->
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 centrado">
    <%= paginate(@publications) %>
  </div>
</div>
