<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-lg-11 titulo">
    <h4>
      <i class="fa fa-angle-right"></i>Publicaciones</h4>
  </div>
</div>
<% @publications.each do |publication| %>
<div class="row mt margin-minus">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="form-panel">
      <div class="row">
        <div class="col-lg-7 col-lg-offset-1">
          <%= publication.titulo %>
          <br>
          <%= publication.limite %>
          <br>
          <%= publication.type.nombre %>
          <br>
          <%= publication.problema %>
          <br>
          <%= publication.area.nombre %>
          <br>
          <%= link_to 'Ver Publicacion', publication %>
        </div>
        <div class="col-lg-3">
          <%= publication.company.razon %>
          <br>
          <%= publication.company.email %>
        </div>
        <!--
  <%= link_to 'Edit', edit_publication_path(publication) %>
  <%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %> -->
      </div>
    </div>
  </div>
</div>
<% end %>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 centrado">
    <%= paginate(@publications) %>
  </div>
</div>
