<p id="notice"><%= notice %></p>

<h1>Publications</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Problema</th>
      <th>Limite</th>
      <th>Description</th>
      <th>Premios</th>
      <th>Company</th>
      <th>Area</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.titulo %></td>
        <td><%= publication.problema %></td>
        <td><%= publication.limite %></td>
        <td><%= publication.description %></td>
        <td><%= publication.premios %></td>
        <td><%= publication.company %></td>
        <td><%= publication.area %></td>
        <td><%= publication.type %></td>
        <td><%= link_to 'Show', publication %></td>
        <td><%= link_to 'Edit', edit_publication_path(publication) %></td>
        <td><%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publication', new_publication_path %>
