<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @postulation.user %>
</p>

<p>
  <strong>Publication:</strong>
  <%= @postulation.publication %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @postulation.contenido %>
</p>

<%= link_to 'Edit', edit_postulation_path(@postulation) %> |
<%= link_to 'Back', postulations_path %>
