    <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

              	  <p class="centered"><a href="<%= edit_user_registration_path %>"><img src="<%= asset_path 'ui-sam.jpg' %>" class="img-circle" width="100"></a></p>
              	  <h5 class="centered"><%= current_entity.nombre %></h5>

                  <li class="mt">
                      <a href="<%= dashboards_student_path %>">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="mt">
                      <a href="<%= edit_user_registration_path %>">
                          <i class="fa fa-dashboard"></i>
                          <span>Perfil</span>
                      </a>
                  </li>

                  <li class="mt">
                      <a href="<%= publications_path %>">
                          <i class="fa fa-dashboard"></i>
                          <span>Publicaciones</span>
                      </a>
                  </li>

                  <li class="mt">
                      <a href="<%= applications_path %>">
                          <i class="fa fa-dashboard"></i>
                          <span>Postulaciones</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
