    <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

              	  <p class="centered"><a href="<%= edit_company_registration_path %>"><img src="<%= current_entity.avatar %>" class="img-circle" width="100"></a></p>
              	  <h5 class="centered"><%= current_entity.razon %></h5>

                  <li class="mt">
                      <a href="<%= dashboards_company_path %>">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="<%= edit_company_registration_path %>" >
                          <i class="fa fa-cogs"></i>
                          <span>Perfil</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>Publicaciones</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="<%= publications_path %>">Mis publicaciones</a></li>
                          <li><a  href="<%= new_publication_path %>">Crear Publicacion</a></li>
                      </ul>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
